/* starting header section */

.main-navigation {
    width: 100%;
    height: 4rem;
    display: flex;
    position: fixed;
    top: 0;
    border: 1px solid black;
    background-color: #235733;
    z-index: 2;
  }
  .main-navigation h3{
    font-weight: bold;
  }
  .nav-logo {
    width: 150%;
    height: 3.8712rem;
    /* margin-top: 2px; */
    background-color: white;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    font-size: 20px;
    color: #060606;
    letter-spacing: 2px;
  }
  .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
  }
.main-navigation h3{
    padding-left: 12px;
    margin-top: 15px;
}
  
  
  span {
    color: crimson;
    font-weight: bold;
  }
  
  .nav-list {

    width: 500%;
    /* height: 60px; */
    height: 3.8712rem;
    margin-left: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: burlywood; */
  }
  .search-bar{
    width: 350%;
    height:  3.1712rem;
    /* background-color: #ffffff; */
    display: flex;
    padding-top: 15px;
    
  }
  /* #sb{
    margin-left: 25px
  } */
  .nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px;
    margin-left: 20px;
    transition: all 0.5s ease-out;
  }
  
  .registration-sec{
    /* background-color: #e7e1e1; */
    /* width: 200px; */
    height: 3.8712rem;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .registration-sec a{


    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px;
    transition: all 0.5s ease-out;
  }
  .registration-sec a:hover{
    color: crimson;
  }
  .nav-list a:hover {
    color: crimson;
  }
  #menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
  }
  
 /* Default navbar styles */

.main-navigation {
  /* Default styles here */
}

/* Mobile styles */
@media (max-width: 767px) {
  .main-navigation {
    /* Mobile styles here */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    /* display: none; */
  }
  .main-navigation a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}
#menu-icon {
  display: block;
}


}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px) {
  .main-navigation {
    /* Tablet styles here */
  }
}

/* Desktop styles */
@media (min-width: 992px) {
  .main-navigation {
    /* Desktop styles here */
  }
}
